version: "3.8"

services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  api:
    build: ./app
    environment:
      - BROKER_URL=redis://redis:6379/0
    volumes:
      - ./app:/app
      - ./temp:/app/temp
    ports:
      - "8000:8000"
    depends_on:
      - redis

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"  # API
      - "9001:9001"  # Веб-консоль
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - minio-data:/data
volumes:
  minio-data: