version: "3.8"

services:
  # ollama:
  #   image: ollama/ollama
  #   ports:
  #     - "11434:11434"
  #   volumes:
  #     - ollama_models:/root/.ollama
  #   command: ["ollama", "serve"]

  worker:
    build: ./app
    environment:
      - BROKER_URL=redis://localhost:6379/0
    command: celery -A tasks worker -Q ollama --loglevel=info -P eventlet
    volumes:
      - ./app:/app
      - ./temp:/app/temp
    # depends_on:
    #   - ollama

# volumes:
#   ollama_models:
